
.vs/StartMenu2.0/v16/Server/sqlite3/storage.ide-wal
.vs/StartMenu2.0/v16/Server/sqlite3/storage.ide-shm
.vs/StartMenu2.0/v16/Server/sqlite3/storage.ide
.vs/StartMenu2.0/v16/Server/sqlite3/db.lock
.vs/StartMenu2.0/v16/.suo
obj/
bin/
Properties/Settings.Designer.cs
/.vs/RocketLaunch/v16
